{{#* inline "header" }}
    {{# with this.metadata }}
        <ul>
            <li><em>Generation</em>: {{ generation }}</li>
        </ul>
    {{/ with }}
{{/ inline }}

{{#* inline "content" }}
    <h2>Spec</h2>
    <pre>{{ to_yaml this.spec }}</pre>
{{/ inline }}

{{> base }}
