{{#* inline "header" }}
    {{# with this.status }}
        <ul>
            <li><em>URL</em>: {{ url }}</li>
            <li><em>Observed Generation</em>: {{ observedGeneration }}</li>
        </ul>
    {{/ with }}
{{/ inline }}

{{#* inline "content" }}
    <h2>Spec</h2>
    <pre>{{ to_yaml this.spec }}</pre>
{{/ inline }}

{{> base }}
