{{#* inline "header" }}
    {{# with this }}
        <ul>
            <li><em>Type</em>: {{ type }}</li>
        </ul>
    {{/ with }}
{{/ inline }}

{{# if this.data }}
    <!--  todo: add a dialog for links -->
    {{#* inline "content" }}{{> partials/kv_map kv_map=this.data name="Data" hide_data=false }}{{/ inline }}
{{/ if }}

{{> base }}
